.error {
   color: #fc8181;
   font-size: 0.6rem;
   text-align: left;
   margin-top: 0.15rem;
}

.form-select {
   width: 80%;
   padding: 0.5rem 0.5rem;
   max-width: 400px;
   font-size: 1rem;
   color: black;
   border: 1.2px ridge #4a5568;
   border-radius: 5px;
   background-color: white;
   outline: none;
   font-family: Arial, Helvetica, sans-serif;
   margin: auto;
}

.form-label {
   font-size: 0.8rem;
   font-weight: 600;
   max-width: 300px;
   display: block;
   text-align: left;
   margin: 0.5rem 0 0.1rem;
   font-family: arial;
}